
<div>
	<p>Los autores de esta aplicación son David y Raquel</p>
	<div id="foto">
		<b>Foto</b><br>
		<image src="foto1.jpg" alt="foto1" style="width:150px">
		<image src="foto.jpg" alt="foto" style="width:150px">
	</div>
</div>
